#contato{
    height: 95vh;
    display: flex;
    flex-direction: row;
    padding: 30px;
    gap: 30px;
}

#contato #banner-lateral{
    background-image: url(../images/contato.jpg);
    width: 50vw;
    object-fit: contain;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 255, 0.219);
    background-position: top;
    background-blend-mode: overlay;
    border-radius: 20px;
    display: flex;
    backdrop-filter: blur(5px);
}

#contato #banner-lateral h1{
    color: white;
    font-size: 5vw;
    margin: 70px;
    width: 300px;
    line-height: 8vh;
}

#contato #contato-form{
    padding: 10px;
    width: 50vw;
    background-color: rgb(226, 226, 226);
    border-radius: 30px;
}

#contato #contato-form .wpforms-form {
    max-height: 60vh;
}

