#contato{
    height: 95vh;
    display: flex;
    flex-direction: row;
    padding: 30px;
    gap: 30px;
}

#contato #banner-lateral{
    background-image: url(../images/contato.jpg);
    width: 50vw;
    object-fit: contain;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 255, 0.219);
    background-position: top;
    background-blend-mode: overlay;
    border-radius: 20px;
    display: flex;
    backdrop-filter: blur(5px);
}

#contato #banner-lateral h1{
    color: white;
    font-size: 5vw;
    margin: 70px;
    width: 300px;
    line-height: 8vh;
}

#contato #contato-form{
    padding: 10px;
    width: 50vw;
    background-color: rgb(226, 226, 226);
    border-radius: 30px;
}

#contato #contato-form .wpforms-form {
    max-height: 60vh;
}


@media (max-width: 1024px){

#contato{
    flex-direction: column;
    height: 130vh;
}

#contato #banner-lateral{
    width: 90vw;
    height: 50vh;
    background-position: center;
}

#contato #banner-lateral h1{
    font-size: 7vw;
    line-height: 5vh;
}

#contato #contato-form{
    width: 90vw;    
    min-height: 75vh;
}


}

@media (max-width: 768px) {
#contato{
    min-height: 160vh;
    max-height: 230vh;
}

#contato #banner-lateral{
    height: 40vh;
    background-image: url(../images/contato_cel.jpg);
}

#contato #banner-lateral h1{
    font-size: 7vw;
    line-height: 4vh;
    margin: 20px;
    max-width: 30vw;
}

#contato #contato-form{
    min-height: 115vh;
    max-height: 230vh;
}

}