@import url('reset.css');

#hero {
    height: 60vh;
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-attachment: fixed;    
}


#banner {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 139, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner h1, p{
    color: white;
}

#banner h1{
    font-size: 3vw;
    font-weight: 500px;
    margin-bottom: 40px;
}

#banner p{
    font-size: 1.5vw;
    font-weight: 200px;
    max-width: 700px;
    margin: 10px;
    text-align: center;
}

#banner a{
    text-decoration: none;
    background-color: darkblue;
    border-radius: 20px;
    max-width: 300px;
    padding: 20px;
    font-size: 1vw;
    margin-top: 20px;
    color: white;
}

#banner a:hover{
    color: darkblue;
    background-color: white;
}


@media (max-width: 1024px){

#hero {
    height: 40vh;
}

#banner h1{
    font-size: 5vw;
    max-width: 60vw;
    text-align: center;
}

#banner p{
    font-size: 3vw;
    font-weight: 200px;
    max-width: 70vw;
    margin: 10px;
    text-align: center;
}

#banner a{
    font-size: 3vw;
    max-width: 100vw;
}

}
